{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_staff %}
    <div class="content-sections">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Merch Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% else %}
    <div class="content-sections">
        <h3>401 Error - You are not authorized to access this page.</h3>
        <a href="{% url 'merch-home' %}">Back To Merch</a>
    </div>
{% endif %}
{% endblock content %}